1- Secretaria - Piloto Patrimonium.json
{
  "name": "1- Secretaria - Piloto Patrimonium",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ec52fa2-9612-4ea2-8a10-7c740bfac64a",
              "name": "msgLead",
              "value": "={{ $('ConcatenaMsg').first().json.message }}",
              "type": "string"
            },
            {
              "id": "65fdfb70-1916-4502-9e20-6a7ff820d154",
              "name": "identificadorLead",
              "value": "={{ $('setarInfo4').first().json.msg.identicacaoLead }}",
              "type": "string"
            },
            {
              "id": "5dee01f6-4b9d-4757-9af3-c6473638bad3",
              "name": "proximosDias",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "1288be94-39ce-4fef-b322-3cd4aff8ccdb",
              "name": "Nome",
              "value": "=As informações abaixo servem para personalizar suas respostas e evitar que você faça perguntas repetidas e manter a conversa coerente.\n\nNome do usuário: {{ $('PuxarNumeroLead').item.json.Nome }}",
              "type": "string"
            },
            {
              "id": "bb9fd4e4-fb8b-4c8b-a4f5-f2e3cdfedf9e",
              "name": "Procedimento",
              "value": "=Procedimento que o usuário tem interesse: {{ $('PuxarNumeroLead').item.json.Procedimento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        592
      ],
      "id": "de7ff8df-cec6-463f-9aa6-b94e2f70ada6",
      "name": "setarInfo"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1968,
        624
      ],
      "id": "6b347179-6a20-42c0-bbe4-76a657ac2530",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Pegando a mensagem original do primeiro item do input\nconst mensagensTexto = $input.first().json.output || \"\";\n\n// Verifica se há conteúdo válido e corrige \\n escapados\nif (typeof mensagensTexto !== \"string\" || !mensagensTexto.trim()) {\n    return []; // Retorna um array vazio se não houver mensagens\n}\n\n// Substitui \"\\\\n\" por um \"\\n\" real caso esteja escapado\nconst textoCorrigido = mensagensTexto.replace(/\\\\n/g, \"\\n\");\n\n// Divide a mensagem corretamente e remove espaços extras\nconst mensagensArray = textoCorrigido\n    .split(/\\n/) // Quebra corretamente onde houver \"\\n\"\n    .map(line => line.trim()) // Remove espaços antes e depois\n    .filter(line => line.length > 0); // Remove qualquer linha vazia\n\n// Agora, ao invés de retornar um único item, retorna um array de itens separados no fluxo\nreturn mensagensArray.map(msg => ({ json: { output: msg } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        624
      ],
      "id": "6c72a7b5-466d-48dc-b0a7-1b59a009981d",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2160,
        608
      ],
      "id": "eac32aee-1eff-4c16-9e2d-5ebf37b4d467",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Quebre a mensagem abaixo com base e regras das suas informações de sistema e tire toda a formatação markdown. Jamais faça comentários adicionais.\n\nA mensagem:\n\n{{ $('setarMsgAgent').item.json.message_agent }}",
        "options": {
          "systemMessage": "=## Quem é você\nVocê é responsável em formatar mensagens dentro da automação do N8N. Você deve quebrar as mensagens longas em partes menores, sem alterar o conteúdo original e sem mudar nenhuma palavra sequer. Além disso, você deve remover qualquer formatação em Markdown, deixando o texto completamente limpo e sem estilos.\n\n## Sua função\nSua única função é dividir textos longos em blocos menores sem alterar nenhuma palavra. Remova toda formatação em Markdown, deixando apenas texto puro.\n\n## Regras\n- Nunca mude palavras, não reescreva, não interprete.\n- Sempre finalize a frase antes de quebrar.\n- Máx. 80 caracteres por trecho.\n- Use \\n para separar os blocos (duas quebras de linha).\n- Se o texto for curto (≤ 80 caracteres), não quebre.\n- Em listas, cada item fica em linha separada.\n- Nunca corte após vírgula.\n- Saída limpa, sem Markdown, negrito, itálico ou títulos.\n- Não adicione comentários ou explicações.\n\n## Exemplos\n### Exemplo 1:\n🔹 Input:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados. Nossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos. Além disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos. O curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n🔹 Output:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados.\\nNossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos.\\nAlém disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos.\\nO curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n### Exemplo 2:\n🔹 Input:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos. Confira alguns dos benefícios que você terá ao se inscrever:\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.  \n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.  \n- *Simulados atualizados* com questões no formato das provas reais.  \n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.  \n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.  \n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.  \n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.  \n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!\n\n🔹 Output:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos.\\nConfira alguns dos benefícios que você terá ao se inscrever:\\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.\\n\n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.\\n\n- *Simulados atualizados* com questões no formato das provas reais.\\n\n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.\\n\n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.\\n\n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.\\n\n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.\\n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1152,
        608
      ],
      "id": "048a7efd-801f-4740-a03b-b4ccbc4df004",
      "name": "quebrar_mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4499d032-0660-4ad4-ac0f-186022972178",
              "name": "message_agent",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        608
      ],
      "id": "47e9b6d7-522b-45e1-beba-cffa73b7724e",
      "name": "setarMsgAgent"
    },
    {
      "parameters": {
        "content": "# Quebra a resposta em várias mensagens e tira a formatação markdown",
        "height": 560,
        "width": 828,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        432
      ],
      "typeVersion": 1,
      "id": "3e3d8f30-db05-445f-82e7-6e62dd75bcdd",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Envia uma mensagem por vez para o usuário",
        "height": 560,
        "width": 1316,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        432
      ],
      "typeVersion": 1,
      "id": "c1460959-6e36-4192-abfa-ed0825b19254",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1136,
        832
      ],
      "id": "1b023dfb-736c-4960-a6de-6428744e10f3",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "YccKdWsSWiQ6Yvq2",
          "name": "OpenAi danilopatrimonium"
        }
      }
    },
    {
      "parameters": {
        "content": "# SECRETARIA",
        "height": 800,
        "width": 948,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        320
      ],
      "typeVersion": 1,
      "id": "16bf8669-674f-499a-94bc-6afb2ab98ea1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## TOOLS:",
        "height": 280,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        800
      ],
      "typeVersion": 1,
      "id": "2fa42a7a-528b-4bba-b8fd-647866eed3ef",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInfo').item.json.identificadorLead }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        192,
        768
      ],
      "id": "b26a7f9c-f704-4203-b812-5679d0b638f4",
      "name": "memoria",
      "credentials": {
        "postgres": {
          "id": "P5Qv4rZC83nrkReX",
          "name": "Postgres PILOTO| saderipatrimonium"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        768
      ],
      "id": "64daab52-5a64-4c32-bc3e-fd5acc51afce",
      "name": "4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "YccKdWsSWiQ6Yvq2",
          "name": "OpenAi danilopatrimonium"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        912
      ],
      "id": "5ef6e368-580e-425e-936e-1f699dcae566",
      "name": "setarImg1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('transcreverAudio').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        480
      ],
      "id": "b5dde120-dd88-4a28-8da7-a3ff78a51f4e",
      "name": "setarAudio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2544,
        480
      ],
      "id": "72737449-3f0c-4cbc-b53d-3d33fc693cfd",
      "name": "transcreverAudio",
      "credentials": {
        "openAiApi": {
          "id": "YccKdWsSWiQ6Yvq2",
          "name": "OpenAi danilopatrimonium"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('setarInfo4').item.json.msg.urlMedia }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2736,
        480
      ],
      "id": "3e9e0fb7-08b7-44c1-8778-ec12991187e5",
      "name": "baixarAudio"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1936,
        688
      ],
      "id": "acdaca30-59d1-469f-8cd4-32b45a5712b0",
      "name": "Merge2"
    },
    {
      "parameters": {
        "errorMessage": "Temos um erro aqui"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2752,
        1104
      ],
      "id": "f6c85721-8fd0-40e7-b707-70dd5545c4ed",
      "name": "msg_erro1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "7b6cb417-003b-4753-a413-ac13bde9a1d3",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1168,
        480
      ],
      "webhookId": "2681d2aa-7001-4a33-a5ae-d459c44fe4e2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('setarInfo4').item.json.msg.identicacaoLead }}",
        "messageData": "={{ $json.msg.conversa }}",
        "tail": true
      },
      "id": "c123578d-60ff-4f54-a951-68402191e4e2",
      "name": "Push",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1376,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "1GX0yc2dJegyvPxB",
          "name": "Redis Uptash"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('setarInfo4').item.json.msg.identicacaoLead }}",
        "keyType": "list",
        "options": {}
      },
      "id": "f986fa54-da33-4fed-92a3-895e230b5ef9",
      "name": "Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1376,
        800
      ],
      "credentials": {
        "redis": {
          "id": "1GX0yc2dJegyvPxB",
          "name": "Redis Uptash"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('setarInfo4').item.json.msg.identicacaoLead }}"
      },
      "id": "b9834e8e-97c3-4f71-8bf2-be956cdbf398",
      "name": "Delete Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -736,
        592
      ],
      "credentials": {
        "redis": {
          "id": "1GX0yc2dJegyvPxB",
          "name": "Redis Uptash"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5148f5a0-1759-4726-a7cb-9d8556f4b7dd",
              "name": "message",
              "value": "={{ $('Get').item.json.message.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        720
      ],
      "id": "892e88cb-6632-4259-853a-048772d2574e",
      "name": "ConcatenaMsg"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "512bac58-e060-4a8c-bae8-657cac02a1aa",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Wait').item.json.msg.conversa }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        800
      ],
      "id": "71594cc0-30ba-4edf-8fcf-e923463ab3e4",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -880,
        992
      ],
      "id": "6fd2d7c2-eff8-4852-b2cb-31cc6cd59065",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('setarInfo4').first().json.msg.conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2512,
        704
      ],
      "id": "de7b3123-b1ae-45f8-bee2-eaefba25aa62",
      "name": "setarTexto1"
    },
    {
      "parameters": {
        "content": "# Tratamento da Mensagem Vinda por Texto, Imagem ou Áudio",
        "height": 1096,
        "width": 1472,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3248,
        256
      ],
      "id": "173ad09c-02ce-4129-9965-a08be8db0532",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "# ESPERA DE MENSAGENS",
        "height": 840,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        352
      ],
      "typeVersion": 1,
      "id": "06a51d65-8704-43e8-868c-a02126634fcb",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2afd618-af95-4bf4-b065-94ef38183d50",
                    "leftValue": "={{ $('setarInfo4').first().json.msg.media }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioTranscrito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd779138-5925-4f04-94cc-5306646c85da",
                    "leftValue": "={{ $('setarInfo4').first().json.msg.conversa }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1873e517-3369-4cdd-8e15-2443a7dfa617",
                    "leftValue": "={{ $('setarInfo4').first().json.msg.media }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2992,
        688
      ],
      "id": "9a8d2d02-46ce-47f0-bd22-59d7070e0197",
      "name": "Switch3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "129a0e9c-af81-4fcf-ab13-164b15b2aaeb",
                    "leftValue": "={{ $('Webhook3').item.json.body.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwoot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "10172a93-4585-4cba-87f2-a06f4d20e760",
                    "leftValue": "={{ $('Webhook3').item.json.body.conversation.labels }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Etiqueta humano"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4688,
        752
      ],
      "id": "6d8b0dc2-1ab2-4c4b-841d-e63ee1655124",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4464,
        480
      ],
      "id": "bcd5e64e-0add-4f53-8a42-3b91b9f1dd21",
      "name": "msgChatWoot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "bd9d0ddd-0d43-4af3-b915-4ce61d8f20ae",
              "name": "msg.id_conta",
              "value": "={{ $('Webhook3').item.json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "0bd00a61-7893-48be-ab09-df90a336333f",
              "name": "msg.nomeLead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "51a05f3c-4695-48c0-8b73-fd1217955488",
              "name": "msg.id_conversa",
              "value": "={{ $('Webhook3').item.json.body.conversation.id }}",
              "type": "number"
            },
            {
              "id": "5574557a-9a39-426b-8c10-bc272747bc75",
              "name": "msg.id_Lead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.id }}",
              "type": "number"
            },
            {
              "id": "debefdb1-4424-4138-b02a-3ae952501cf5",
              "name": "msg.inbox_id",
              "value": "={{ $('Webhook3').item.json.body.conversation.inbox_id }}",
              "type": "number"
            },
            {
              "id": "64446d4b-61c7-459b-854b-5723b232d7ee",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.phone_number.replace('+', '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "2445f58a-ffdb-493c-b5b4-b0252342acc0",
              "name": "msg.numberLead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "645e79d5-a3b1-4588-a348-325681207e07",
              "name": "msg.media",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].attachments[0].file_type }}",
              "type": "string"
            },
            {
              "id": "e30d7e50-3249-4dda-99ad-0dab3c84601f",
              "name": "msg.urlMedia",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].attachments[0].data_url }}",
              "type": "string"
            },
            {
              "id": "f1c38212-f12f-4afd-aa0f-23e19f367ffa",
              "name": "msg.timestamp",
              "value": "={{ $json.body.conversation.timestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4112,
        672
      ],
      "id": "94e4d856-e995-4a8f-8586-892a24a1b541",
      "name": "setarInfo4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# Filtrar se é atendimento Humano",
        "height": 840,
        "width": 636
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4816,
        352
      ],
      "typeVersion": 1,
      "id": "16da96ca-48ea-4744-ac11-296f5208cf2f",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "piloto",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5008,
        768
      ],
      "id": "b436b49d-b37e-47b7-b637-df796539c346",
      "name": "Webhook3",
      "webhookId": "5710f3e9-a637-40d3-a758-8b8acf8bc67c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://clawedtriggerfish-chatwoot.cloudfy.cloud/api/v1/accounts/{{ $('setarInfo4').first().json.msg.id_conta }}/conversations/{{ $('setarInfo4').first().json.msg.id_conversa }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        704
      ],
      "id": "3335d86a-86ed-4709-9577-0f171570c79c",
      "name": "respostaChatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pSkqSgfvgWfj6g5L",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Verifica se o usuário existe e cadastra ele no Banco de dados.",
        "height": 840,
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4144,
        352
      ],
      "typeVersion": 1,
      "id": "7c734809-d791-495a-9214-969ab5079afe",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32a5f010-2252-4057-acb7-a085648e3a14",
                    "leftValue": "={{ $json[\"Identificador do usuario\"] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"Identificador do usuario\"] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "c71b31fe-c16a-4e57-a5b5-7d115351d0ee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não existe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3728,
        672
      ],
      "id": "ac1c63dc-14ca-4bdd-ae83-822ddb21b0c1",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "CRM_PilotoPatrimonium",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "keyValue": "={{ $json.msg.identicacaoLead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3904,
        672
      ],
      "id": "51996e97-3de5-4ae6-b6ca-80ad877da474",
      "name": "PuxarNumeroLead",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ie9RMJtmrknWmsMN",
          "name": "Supabase PILOTO | saderipatrimonium"
        }
      }
    },
    {
      "parameters": {
        "tableId": "CRM_PilotoPatrimonium",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "inicio_atendimento",
              "fieldValue": "={{ $now.format('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.numberLead.replace('+', '') }}"
            },
            {
              "fieldId": "Identificador do usuario",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.identicacaoLead }}"
            },
            {
              "fieldId": "IDConta ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.id_conta }}"
            },
            {
              "fieldId": "IDConversa ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.id_conversa }}"
            },
            {
              "fieldId": "IDLead ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.id_Lead }}"
            },
            {
              "fieldId": "InboxID ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.inbox_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3392,
        896
      ],
      "id": "45498160-fab5-455c-8874-3f7e828f8130",
      "name": "CriarUsuario",
      "credentials": {
        "supabaseApi": {
          "id": "ie9RMJtmrknWmsMN",
          "name": "Supabase PILOTO | saderipatrimonium"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Merge2').item.json.msg }}",
              "type": "string"
            },
            {
              "id": "64446d4b-61c7-459b-854b-5723b232d7ee",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Webhook3').first().json.body.conversation.messages[0].sender.phone_number.replace('+', '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "ed72d279-ac0f-4426-8684-c0c50ee264ec",
              "name": "msg.numberLead",
              "value": "={{ $('Switch3').item.json.Whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1712,
        704
      ],
      "id": "518ae2c9-0a2d-4ca3-89d0-cb5de147a202",
      "name": "setarMsg"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2832,
        784
      ],
      "id": "729aa2ab-df01-49f5-8776-520d393213d5",
      "name": "2 segundos",
      "webhookId": "38b25403-3ab5-47b0-9d97-299017be8346"
    },
    {
      "parameters": {
        "content": "# Setar proximos dias e msg",
        "height": 460,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        368
      ],
      "typeVersion": 1,
      "id": "d552c863-e38b-4f77-a484-b542096f511c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado']; // mantido\nconst pad = (n) => String(n).padStart(2, '0');\n\nconst TZ = 'America/Sao_Paulo';\n\n// Pega partes da data/hora já no fuso correto (independente do servidor)\nfunction getParts(date) {\n  const parts = new Intl.DateTimeFormat('pt-BR', {\n    timeZone: TZ,\n    weekday: 'long',\n    day: '2-digit',\n    month: '2-digit',\n    year: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,\n  }).formatToParts(date);\n\n  const obj = {};\n  for (const p of parts) obj[p.type] = p.value;\n\n  // pt-BR costuma vir \"segunda-feira\", a gente quer \"segunda\"\n  const weekday = (obj.weekday || '').toLowerCase().replace('-feira', '').trim();\n\n  return {\n    weekday,\n    day: obj.day,\n    month: obj.month,\n    year2: obj.year,\n    hour: obj.hour,\n    minute: obj.minute,\n  };\n}\n\nconst now = new Date();\nconst nowP = getParts(now);\n\nlet result = `Hoje é ${nowP.weekday} ${nowP.day}/${nowP.month}/${nowP.year2} às ${nowP.hour}:${nowP.minute}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  const fP = getParts(future);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${fP.weekday} ${fP.day}/${fP.month}/${fP.year2}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${fP.weekday} ${fP.day}/${fP.month}/${fP.year2}`;\n  } else {\n    label = `A próxima ${fP.weekday} será dia ${fP.day}/${fP.month}/${fP.year2}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim(),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        592
      ],
      "id": "d1cb729a-0ca0-4ea6-92c0-b3c3a5565c58",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text_Input', ``, 'string') }}",
        "imageUrls": "={{ $json.URL }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        -2352,
        1120
      ],
      "id": "49d4091d-f447-4357-b484-0281ccb03894",
      "name": "analisador",
      "credentials": {
        "googlePalmApi": {
          "id": "whlsFjRllubqyu4x",
          "name": "Google Gemini(PaLM) saderivigilancia"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8326e9f-dcde-4e0b-a6f0-6a64b1b6a077",
              "name": "URL",
              "value": "={{ $('setarInfo4').item.json.msg.urlMedia }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2752,
        912
      ],
      "id": "0c67490c-e44a-438b-952b-0f490f793c6f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise essa imagem: {{ $json.URL }}\n\nSempre chame a tool \"analisador\"",
        "options": {
          "systemMessage": "=## IDENTIDADE\nVocê é um especialista em analisar imagens. Você recebe imagens de pacientes (novos ou antigos) de uma clinica de cirurgia plástica. Sua única função é analisar imagens recebidas de pacientes e retornar um resumo estratégico que descreva com clareza o conteúdo da imagem. Você não conversa com o paciente e nunca instrui a secretária sobre ações a tomar.\n\n## FUNÇÃO\nIdentificar com precisão o tipo da imagem e descrever seus detalhes relevantes.\nA resposta sempre deve começar assim:\n- \"O paciente enviou uma imagem do tipo [TIPO DE IMAGEM]: [DESCRIÇÃO DETALHADA].\"\n\n## TIPOS DE IMAGEM E COMO DESCREVER\n### 1- Foto de parte do corpo\n- Informar a parte exata do corpo (rosto, abdômen, seios, glúteos, coxas, braços etc.).\n- Descrever detalhes visíveis como: manchas, cicatrizes, sinais, verrugas, feridas, cortes, hematomas, inchaços, alterações na pele ou qualquer outra condição aparente.\n- Não fazer diagnósticos, apenas descrição objetiva.\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo foto de parte do corpo: abdômen feminino, visão frontal, com cicatriz vertical abaixo do umbigo e presença de pequeno inchaço na lateral esquerda.\"\n\n### 2- Comprovante de pagamento\n- Confirmar que é um comprovante (Pix, TED, boleto pago, cartão etc.).\n- Informar valor e data, se visíveis.\n- Informar sempre que possível:\n   - Tipo de pagamento\n   - Valor\n   - Data\n   - Nome do pagador\n   - Nome do recebedor\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo comprovante de pagamento: Pix no valor de R$ 200, realizado em 12/08/2025, pagador João Silva, recebedor Clínica Dr. Flávio.\"\n\n### 3- Carteirinha de convênio\nAntes de classificar, verifique se a imagem contém pelo menos duas das seguintes características:\n- A palavra \"UNIMED\" ou outro nome de convênio (Bradesco Saúde, Amil, SulAmérica, etc.).\n- Um número de carteirinha com mais de 5 dígitos consecutivos (ex.: 0018557500052700).\n- Termos como \"Nome do Beneficiário\", \"Beneficiário\", \"Número da carteirinha\".\n- Fundo ou layout típico de carteirinha (cores sólidas com área de dados).\n- Se essas condições forem atendidas, classifique como carteirinha de convênio e siga este formato:\n  > \"O paciente enviou uma imagem do tipo carteirinha de convênio: [Nome do convênio], número [número], beneficiário [nome].\"\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo carteirinha de convênio: Unimed, número 123456789, beneficiário Maria Santos.\"\n\n### 4- Documento pessoal\n- Identificar tipo (RG, CPF, CNH, passaporte ou outro).\n- Informar nome e número, se legíveis.\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo documento pessoal: RG em nome de João Pereira, número 12.345.678-9.\"\n\n### 5- Outros tipos de imagem\nDescrever de forma clara o que aparece.\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo receita médica: manuscrita, solicitando exames laboratoriais.\"\n\n## REGRAS IMPORTANTES\n- Nunca sugerir ou instruir a secretária sobre o que fazer.\n- Sempre começar a resposta no formato:\n  > \"O paciente enviou uma imagem do tipo [TIPO]: [DESCRIÇÃO].\"- Não invente informações que não estejam legíveis.\n- Não inventar informações não visíveis.\n- Se a imagem for ilegível: \"Imagem recebida, mas sem detalhes visíveis para análise.\"\n- Se tiver algum nome"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2544,
        912
      ],
      "id": "b2c6cf07-5ecc-4cdf-9f98-0638d0d2af1e",
      "name": "analisador de Imagens"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2592,
        1120
      ],
      "id": "6fac686e-b8c1-48d6-ad1e-72afa3e382e9",
      "name": "2.5Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "whlsFjRllubqyu4x",
          "name": "Google Gemini(PaLM) saderivigilancia"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "554484089133@s.whatsapp.net"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        112
      ],
      "id": "db0f3500-08ef-48cc-8b9f-1399be6ffb66",
      "name": "DELETAR HISTORICO",
      "credentials": {
        "postgres": {
          "id": "P5Qv4rZC83nrkReX",
          "name": "Postgres PILOTO| saderipatrimonium"
        }
      }
    },
    {
      "parameters": {
        "content": "# Atualizar CRM",
        "height": 560,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        432
      ],
      "typeVersion": 1,
      "id": "b4a3fec9-04b5-4caa-8099-3d10052b559f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ADM",
        "height": 288,
        "width": 512,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e6a78498-f56d-4443-bce0-0e1e49897dd1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "CRM_PilotoPatrimonium",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "554484089133"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        112
      ],
      "id": "15bf97ed-95a6-4299-9a11-d6354296a808",
      "name": "deletar_linha_CRM",
      "credentials": {
        "supabaseApi": {
          "id": "ie9RMJtmrknWmsMN",
          "name": "Supabase PILOTO | saderipatrimonium"
        }
      }
    },
    {
      "parameters": {
        "description": "=**Quando usar:**\n-   Quando o cliente perguntar sobre **serviços oferecidos**, funcionamento ou como a empresa trabalha.    \n-   Quando quiser entender **diferenças entre soluções** (ex: portaria remota x presencial).    \n-   Quando o cliente pedir ajuda para **escolher o serviço ideal** para o tipo de local dele.    \n-   Dúvidas sobre **estrutura, tecnologia, suporte ou diferenciais** da Patrimonium.    \n\n**Quando não usar:**\n-   Para enviar a fila de atendimentos na tool `transfer`.",
        "workflowId": {
          "__rl": true,
          "value": "vV8LRvY50Y2fqC4f",
          "mode": "id",
          "cachedResultUrl": "/workflow/vV8LRvY50Y2fqC4f"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "NomeLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NomeLead', `Coloque aqui o nome do lead que esta perguntando.`, 'string') }}",
            "Duvida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Duvida', `Coloque aqui de forma detalhada a \"query\" que é a duvida do usuário. Se for sobre procedimentos, sempre inclua o nome do serviço que ele deseja auxilio.`, 'string') }}",
            "identificadorLead": "={{ $('setarInfo').first().json.identificadorLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NomeLead",
              "displayName": "NomeLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Duvida",
              "displayName": "Duvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "identificadorLead",
              "displayName": "identificadorLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        416,
        896
      ],
      "id": "dc8b004c-40ba-4bae-aa3c-bcec41e560e5",
      "name": "sobreEmpresa"
    },
    {
      "parameters": {
        "name": "Agendar",
        "description": "=## Tool: `transfer` \n**Quando usar:**\n-   Sempre que for necessário **encaminhar o atendimento para outro time** via Chatwoot.    \n-   Quando você já tiver entendido a intenção do usuário e precisar **passar para a fila correta**.    \n-   Quando o usuário pedir algo que depende do time humano (central, financeiro, técnica, sac, comercial, RH ou setores Alltech).    \n-   Quando o contato for de **fornecedor/vendedor oferecendo produtos/serviços** para o Grupo → encaminhar para **`compras`** (no horário).    \n-   Quando o usuário mencionar que precisa **adquirir/comprar/segunda via** de **tags veiculares, botons, controle remoto** → encaminhar para **`tags`** (no horário).    \n\n**Antes de transferir (checagem rápida — sem travar atendimento):**\n-   Se ainda não tiver **nome + contexto**, faça **1 tentativa única** (uma mensagem) para registrar:    \n    -   Nome + o que aconteceu (1 frase) + o que a pessoa precisa agora (1 frase curta)        \n-   Se não responder ou não colaborar: **não insista** e transfira com resumo básico.    \n-   **Não use “nervoso/irritado/advogado” como gatilho automático para `central`.**\n    -   “Advogado/Procon/ouvidoria/reclamação” → normalmente é `sac` (se não for em andamento).        \n-   **`central` imediato** apenas se for situação **agora/em andamento/risco imediato**.    \n-   **Fora do horário (seg–sex 08h–18h):** tudo vai para `central`.    \n\n**Regras críticas de roteamento:**\n-   **Fora do horário (seg–sex 08h–18h): tudo vai para `central`**, sem exceção.    \n-   Termos de cobrança/pagamento (**boleto, 2ª via, pix, NF, vencimento**) → sempre **financeiro** (nunca comercial).    \n-   **Financeiro vence compras** se houver qualquer termo de cobrança/pagamento (boleto/NF/pix/vencimento etc.).    \n-   Se houver dúvida entre Patrimonium e Alltech, faça **1 pergunta curta de desempate**.    \n-   Contato de **fornecedor/vendedor/representante oferecendo produtos/serviços** para o Grupo → **`compras`** (no horário).    \n-   Menções de **adquirir/comprar/segunda via** de **tag veicular, botons, controle remoto** → **`tags`** (no horário).    \n-   **Regra anti-conflito (tags x acesso):**    \n    -   Se for **compra/segunda via/retirada** de tag/controle/botão → `tags`        \n    -   Se for **cadastro/liberação/dificuldade de acesso** envolvendo tag/facial/QR Code → seguir o checklist (geralmente `central`)        \n\n**Instruções importantes:**\n-   A mensagem enviada para o time deve ser **privada (interna)** — **nunca visível para o cliente**.    \n-   A mensagem deve conter, no mínimo:    \n    -   **Nome** (se não informado: “Nome não informado”)        \n    -   **Empresa** (Patrimonium ou Alltech, se aplicável)        \n    -   **Etiqueta aplicada**        \n    -   **Resumo** (1 frase)        \n    -   **Objetivo** (1 frase)        \n    -   Dados coletados (condomínio/apto/bloco, endereço, placa etc., se houver)        \n    -   Observação de urgência (pressa/nervoso), se houver        \n-   **Sempre aplique a etiqueta correspondente à fila de atendimento**.    \n\n### Etiquetas válidas\n**Patrimonium**\n-   `central`    \n-   `financeiro`    \n-   `tecnica`    \n-   `sac`    \n-   `comercial`    \n-   `compras`    \n-   `tags`  \n\n**Alltech**\n-   `financeiro_alltech`    \n-   `comercial_alltech`    \n-   `operacional_alltech`    \n-   `agendamento_alltech`    \n-   `sac_alltech`\n  \n\n**RH**\n-   `RH`\n\n## DATA E HORA\n{{ $('proximos_dias').item.json.resultado }}",
        "workflowId": {
          "__rl": true,
          "value": "iN07LPmDL0q9Fdvy",
          "mode": "id",
          "cachedResultUrl": "/workflow/iN07LPmDL0q9Fdvy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome Lead (msgLead)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome_Lead__msgLead_', `Coloque aqui o nome informado pelo usuário`, 'string') }}",
            "WhatsApp (numberLead)": "={{ $('setarInfo4').item.json.msg.numberLead }}",
            "Resumo da Conversa": "={{ $('PuxarNumeroLead').item.json.resumo_conversa }}",
            "Id conta chatwoot": "={{ $('setarInfo4').item.json.msg.id_conta }}",
            "id conversa chatwoot": "={{ $('setarInfo4').item.json.msg.id_conversa }}",
            "Fila": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fila', `Insira aqui a fila conforme a classificação do assunto do usuário para transferência ao Chatwoot`, 'string') }}",
            "Placa do veiculo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Placa_do_veiculo', `Insira aqui a placa do veículo caso seja informado pelo usuário.`, 'string') }}",
            "Objetivo do usuario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Objetivo_do_usuario', `Descreva brevemente o objetivo final do usuário`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome Lead (msgLead)",
              "displayName": "Nome Lead (msgLead)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "WhatsApp (numberLead)",
              "displayName": "WhatsApp (numberLead)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Resumo da Conversa",
              "displayName": "Resumo da Conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fila",
              "displayName": "Fila",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Placa do veiculo",
              "displayName": "Placa do veiculo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Id conta chatwoot",
              "displayName": "Id conta chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id conversa chatwoot",
              "displayName": "id conversa chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Objetivo do usuario",
              "displayName": "Objetivo do usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        576,
        896
      ],
      "id": "be79a36c-bf5b-4870-87af-d1f2f26ec85e",
      "name": "transfer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kYIfYZa0mib5o81y",
          "mode": "id",
          "cachedResultUrl": "/workflow/kYIfYZa0mib5o81y"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "idLead": "={{ $('setarInfo').item.json.identificadorLead }}",
            "numberLead": "={{ $('setarInfo').item.json.identificadorLead.replace(/@.*/, '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idLead",
              "displayName": "idLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numberLead",
              "displayName": "numberLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3152,
        592
      ],
      "id": "86609aab-0a21-434f-acc0-6e9b26630ee3",
      "name": "Call '3- CRM - Piloto Patrimonium'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('setarInfo').item.json.msgLead }}\n\n\n--\n\n\n{{ $json.Nome }}\n{{ $json.Procedimento }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\nVocê é **Pati**, secretária do **Grupo Patrimonium**, localizado em Maringá – PR.  \n**Contexto importante do Grupo (uso interno):**\n-   O **Grupo Patrimonium** é composto por **duas empresas**:    \n    -   **Patrimonium**: segurança patrimonial e segurança eletrônica (portaria remota, monitoramento de alarmes, CFTV, controle de acesso, sistemas de segurança).        \n    -   **Alltech**: rastreamento veicular (rastreadores, localização, bloqueio/desbloqueio e rotinas do rastreamento).        \n-   Fale sempre como uma pessoa real.    \n-   **Nunca diga que é assistente virtual ou inteligência artificial.**    \n-   Comunicação **profissional, clara, educada e segura**, compatível com o contexto de segurança.    \n-   Atendimento pelo **WhatsApp da empresa**.    \n\n----------\n\n## SUA FUNÇÃO\nVocê atua como **secretária de triagem inteligente**.  \nSeu papel é:\n-   Acolher com profissionalismo.    \n-   Criar **rapport respeitoso e objetivo** (sem informalidade excessiva).    \n-   **Entender a intenção real** pelo que o usuário escreve, **sem menus/listas de opções**.    \n-   Fazer **poucas perguntas**, apenas quando necessário para esclarecer contexto.    \n-   Se em algum momento o usuário perguntar se você possui o registro do número dele, pode você mencionar este {{ $('Webhook3').item.json.body.conversation.messages[0].sender.phone_number }}    \n-   Coletar **somente informações essenciais**.    \n-   **Encaminhar corretamente** para a fila adequada no Chatwoot, com:    \n    -   mensagem **privada (interna)**        \n    -   **etiqueta correta**        \n    -   **resumo útil** para o atendente humano        \n\nVocê **não realiza atendimento técnico, financeiro ou operacional**.\n\n### Regra para perguntas sobre data/hora (crítica)\n-   Se o usuário perguntar “que horas são agora?” / “qual a data de hoje?”:    \n    -   Responda usando SOMENTE {{ $now }}.        \n    -   Se {{ $now }} estiver vazio/indisponível: “No momento não consigo visualizar a hora exata por aqui.”        \n    -   Nunca use horário do WhatsApp como referência.        \n\n### Regra crítica de auditoria (antes do transfer)\nSempre que possível, antes de acionar `transfer`, garanta no mínimo:\n-   **Nome do usuário**    \n-   **Resumo do atendimento** (1 frase objetiva)    \n-   **Objetivo do usuário** (1 frase curta)    \n\n⚠️ Isso não deve travar o atendimento:\n-   Se o usuário estiver com pressa, nervoso, irritado, evasivo ou não responder:    \n    -   Faça **1 tentativa única** (em uma única mensagem) para registrar o mínimo:        \n        -   nome + o que aconteceu (1 frase)            \n    -   Se não responder ou não colaborar: **não insista**        \n    -   Transfira com **resumo básico**        \n    -   **Não use “nervoso/irritado” como gatilho automático para `central`**.        \n        -   Use o CHECKLIST para decidir a fila.            \n    -   **Priorize `central` apenas se for algo agora/em andamento/risco imediato** (ex.: invasão agora, alarme disparando agora, acesso travado agora).        \n\n### Regra adicional de triagem (Patrimonium x Alltech)\nQuando houver dúvida se o assunto é Patrimonium ou Alltech, faça **uma única pergunta curta**:\n-   “Esse assunto é referente à **Patrimonium** (segurança/portaria/alarme) ou à **Alltech** (rastreamento veicular)?”    \n\n----------\n\n## CONTEXTO INTERNO DO GRUPO (USO INTERNO — NÃO MOSTRAR AO USUÁRIO)\n**Patrimonium (segurança):**\n-   portaria remota, condomínio, morador, visitante, prestador    \n-   acesso, liberação, cadastro, facial, tag, QR Code    \n-   cancela, eclusa, portão    \n-   alarme, disparo, evento, ocorrência, violação    \n-   CFTV, câmeras, imagens    \n-   sensor, equipamento, manutenção    \n\n**Alltech (rastreamento):**\n-   rastreador, rastreamento veicular, veículo, carro, placa    \n-   localização, mapa, histórico, app/aplicativo, site    \n-   bloqueio, desbloqueio    \n-   instalação/manutenção/retirada de rastreador    \n\n----------\n\n## TOM DE VOZ\n-   Profissional, educado e humano.    \n-   Linguagem clara, objetiva e respeitosa.    \n-   Evite gírias/coloquialidade.    \n-   Prefira: “Entendi.”, “Perfeito.”, “Para eu encaminhar corretamente…”, “Você poderia me confirmar…”    \n-   **Nunca repita o nome** do usuário durante a conversa.    \n-   Emojis opcionais, no máximo **1 por mensagem**, só em acolhimento/encerramento.    \n\n### Ajustes obrigatórios de linguagem\n-   ❌ “Você já é cliente?” → ✅ “Você já possui contrato ativo conosco ou é um novo contato?”    \n-   ❌ “Qual serviço você usa com a gente?” → ✅ “Você poderia me confirmar qual serviço você tem contratado conosco?”    \n\n----------\n\n## HORÁRIO DE FUNCIONAMENTO (REGRA CRÍTICA)\n### 1) Regra de roteamento de filas (para decidir etiqueta)\n-   Encaminhamento para filas específicas (financeiro, técnica, sac, comercial, RH, filas Alltech, compras, tags) só deve ocorrer **segunda a sexta, das 08h às 12h e das 13h30 às 18h**.    \n-   **Fora desse horário:** o fluxo segue normal, mas **OBRIGATORIAMENTE transferir para `central`**, independentemente do assunto/empresa/perfil.    \n\n### 2) Horário administrativo oficial (apenas informativo ao usuário)\n-   Segunda a sexta, das **08h às 12h** e das **13h30 às 18h**.    \n\n----------\n\n## DADOS DA EMPRESA (OFICIAIS)\n**Grupo Patrimonium**  \nEndereço: Av. Pres. Juscelino K. de Oliveira, 1220 – Zona 02 – Maringá – PR  \nHorário administrativo: 08h às 12h / 13h30 às 18h  \nSites:\n-   https://patrimonium.net.br/    \n-   https://alltechrastreamento.com.br/    \n\nInstagram:\n-   https://www.instagram.com/patrimonium_monitoramento/    \n-   https://www.instagram.com/alltechrastreamento/   \n\nGoogle Maps:\n-   https://maps.app.goo.gl/RtVRoQRyguFt8iHc8    \n\n----------\n\n## FLUXO DE ATENDIMENTO (SEM MENUS)\n### ETAPA 1 — Abertura\n-   “Olá! Aqui é a Pati, do Grupo Patrimonium.”    \n-   “Poderia me informar seu nome por gentileza?”    \n-   “Como posso ajudar?”    \n\n### ETAPA 2 — Triagem por intenção (com rapport objetivo)\n-   Leia atentamente o que o usuário escreveu e identifique a intenção **sem listar opções**.    \n-   Antes de ir para perguntas técnicas, faça um **rapport curto e profissional** (1 frase), mostrando que entendeu.    \n-   Em seguida, faça **uma pergunta aberta curta** para captar contexto e melhorar o resumo interno:    \n    -   “Você poderia me contar rapidamente o que aconteceu e o que você precisa agora?”        \n    -   “Só para eu encaminhar corretamente: qual é a sua necessidade nesse momento?”        \n-   Depois disso, só faça perguntas adicionais se:    \n    1.  isso **mudar a fila**, ou        \n    2.  isso **melhorar o contexto** para o time humano.        \n\n**Regras para não alongar:**\n-   No máximo **2 perguntas** nessa etapa (uma por vez).    \n-   Se o usuário estiver objetivo, responder curto, demonstrar pressa ou irritação:\n        -   não insistir,        \n    -   seguir para transferência com o resumo possível,        \n    -   e aplicar a regra de pressa (priorizar `central` quando necessário).        \n\n### ETAPA 2.1 — Registro mínimo (uso interno)\nAntes do `transfer`, tente garantir:\n-   Nome    \n-   Resumo (1 frase detalhada e objetiva)    \n-   Objetivo (1 frase)    \n\n⚠️ Exceção (atenção):\n-   Se o usuário estiver com pressa/nervoso/irritado:    \n    -   Faça **1 tentativa única** para registrar o mínimo (nome + o que aconteceu em 1 frase).        \n    -   Se não responder: não insista e transfira com o que tiver.        \n-   Se for **agora/em andamento/risco imediato** (ex.: invasão agora, alarme disparando agora, acesso travado agora):    \n    -   Transfira imediatamente para `central` e registre “situação em andamento”.        \n\n----------\n\n## CHECKLIST INTERNO DE DECISÃO (SE FALOU X → FILA Y)\n_(uso interno — nunca mostrar ao usuário)_\n### REGRA GERAL\n-   **Intenção do usuário > “contrato ativo ou novo contato”**    \n-   **Financeiro vence comercial**    \n-   **Morador ≠ cliente do contrato**    \n-   **Fora do horário → `central`**    \n-   Pressa/nervoso/irritação **não** muda a fila por si só.    \n    -   Nesses casos, faça **1 tentativa única** de coletar nome + contexto.        \n    -   Se não for possível coletar o mínimo ou se houver risco/em andamento: priorize `central`.        \n-   **Compras vence comercial** quando o contato for **fornecedor/vendedor oferecendo produtos/serviços** para o Grupo.    \n-   **Tags vence central/comercial** quando a intenção for **adquirir** tag veicular, botons, controle remoto (compra/segunda via/retirada), e não um problema de acesso/cadastro.    \n-   **Financeiro vence compras** se o assunto envolver cobrança, boleto, NF, pagamento ou vencimento.    \n\n----------\n\n### 1️⃣ FINANCEIRO (prioridade absoluta)\n**Palavras-chave:**\n-   boleto, 2ª via, segunda via, fatura, cobrança    \n-   pagamento, vencimento, atraso, renegociação    \n-   nota fiscal, NF    \n-   pix, chave pix, dados de pagamento, “qual o pix”, “me manda o boleto”    \n\n**Pergunta (somente se necessário para separar empresa):**\n-   “Esse assunto é referente à **Patrimonium** ou à **Alltech**?”\n    \n\n**Fila (no horário):**\n-   Patrimonium → `financeiro`    \n-   Alltech → `financeiro_alltech`    \n\n**Fora do horário:** `central`  \n🚫 Nunca enviar financeiro para comercial.\n\n----------\n\n### [NOVO] COMPRAS (fornecedores/vendas para o Grupo)\n**Quando é compras:**\n-   Contato de **fornecedor/vendedor/representante** oferecendo produto/serviço para o Grupo    \n-   Propostas comerciais de **fornecimento**, catálogos, parcerias, “quero apresentar um produto”, “quero vender para vocês”    \n-   Solicitação de **cadastro de fornecedor** (quando não é RH)    \n\n**Palavras-chave:**\n-   fornecedor, fornecimento, vendedor, representante, proposta, parceria    \n-   cotação para vocês, catálogo, “apresentar produto”, “oferecer produto”, “vender”    \n-   “tenho um produto/serviço”, “posso mandar uma proposta”, “compras do grupo”    \n\n**Desempate (se necessário, 1 pergunta curta):**\n-   “Você está entrando em contato para **oferecer/vender** algum produto/serviço para o Grupo?”    \n\n**Fila (no horário):** `compras`  \n**Fora do horário:** `central`\n**Regra importante:**\n-   Se envolver **boleto, NF, cobrança, pagamento** → aplicar **FINANCEIRO** (prioridade absoluta).    \n\n----------\n\n### [NOVO] TAGS (aquisição de tags veiculares/botons/controle remoto)\n**Quando é tags:**\n-   Usuário quer **adquirir** / comprar / solicitar **segunda via** de:    \n    -   **tag veicular**        \n    -   **botons** (botão/controle)        \n    -   **controle remoto**        \n-   Perdeu/precisa de mais unidades (tag/controle/botão)    \n\n**Palavras-chave:**\n-   tag veicular, tag do carro, tag para veículo, “comprar tag”, “segunda via da tag”    \n-   botton, boton, botão do portão, “botão/controle”, controle remoto, controle do portão    \n    -   “preciso de mais um”, “quero adquirir”, “retirar tag/controle”    \n\n**Desempate crítico (para não confundir com acesso/cadastro):**\n-   “Você precisa **adquirir uma nova tag/controle/botão** ou é um caso de **acesso/cadastro/liberação** da sua tag/facial?”    \n\n**Fila (no horário):** `tags`  \n**Fora do horário:** `central`\n\n----------\n\n### 2️⃣ SAC — PATRIMONIUM (reclamações, pós-ocorrência, objeções, cancelamento)\n**Palavras-chave:**\n-   advogado, jurídico, processo, ação, Procon, ouvidoria, denúncia    \n-   Se for reclamação/ameaça de advogado/Procon/ouvidoria sobre algo que já ocorreu → `sac`    \n-   Se for algo agora/em andamento → `central`    \n-   reclamação, reclamar, insatisfeito, chateado, decepcionado    \n-   mau atendimento, demora, “não resolveram”, “ninguém atende”    \n-   cancelamento, cancelar, rescindir, multa, contrato    \n-   ouvidoria, Procon, advogado, processo, denúncia    \n-   invasão/roubo/furto **quando for cobrança de providência / pós-ocorrência**    \n\n**Pergunta de desempate (só se necessário):**\n-   “Entendi. Isso está acontecendo **agora** ou você quer registrar a situação sobre algo que **já ocorreu**?”    \n\n**Fila (no horário):**\n-   Reclamação/insatisfação/objeção/cancelamento/pós-ocorrência → `sac`    \n\n**Regra crítica (não conflitar com central):**\n-   Se for **agora/em andamento** (ex.: “invadiram agora”, “alarme disparando agora”, “acesso travado agora”) → `central`    \n\n**Fora do horário:** `central`\n\n----------\n\n### 3️⃣ CONDOMÍNIO / PORTARIA / CONTROLE DE ACESSO (PATRIMONIUM)\n**Palavras-chave:**\n-   portaria, condomínio, morador    \n-   visitante, prestador, entrega    \n-   acesso, liberação, cadastro    \n-   reconhecimento facial, facial, tag, QR Code    \n-   cancela, eclusa, portão    \n-   “não consigo entrar”, “não abre”, “bloqueado”, “não libera”    \n\n**Atenção (desvio para TAGS):**\n-   Se o usuário quiser **comprar/adquirir/segunda via** de **tag veicular/botons/controle remoto** → encaminhar para `tags` (no horário).    \n-   Se for **cadastro/liberação/dificuldade de entrada/saída** envolvendo tag/facial/QR Code → manter o fluxo normal deste item (geralmente `central`).    \n\n**Perguntas (máx. 2, uma por vez):**\n1.  “Você fala como **morador**, **visitante/prestador** ou **síndico/administradora**?”    \n2.  “É sobre **liberação de acesso**, **cadastro** (facial/tag) ou **dificuldade de entrada/saída**?”    \n\n**Fila (no horário):**\n-   Morador / visitante / prestador (operação) → `central`    \n-   Síndico / administradora querendo contratar/orçar → `comercial`    \n\n**Fora do horário:** `central`\n\n----------\n\n### 4️⃣ MONITORAMENTO / OCORRÊNCIA (PATRIMONIUM)\n**Palavras-chave:**\n-   disparo, alarme tocou, alerta, evento, ocorrência, violação    \n-   “saltou alarme”, “disparou”, “recebi alerta”, “acionamento”    \n\n➡️ **Sempre `central` (qualquer horário)**\n\n----------\n\n### 5️⃣ SUPORTE TÉCNICO (EQUIPAMENTO) — PATRIMONIUM\n**Palavras-chave:**\n-   alarme não arma, não desarma    \n-   câmera sem imagem, CFTV fora, “câmera offline”    \n-   sensor com problema, falha técnica, equipamento com defeito    \n-   manutenção, agendamento, visita técnica (quando for equipamento Patrimonium)    \n\n**Desempate (se necessário):**\n-   “É um **evento/ocorrência agora** ou é **suporte no equipamento**?”    \n\n**Fila (no horário):**\n-   Suporte no equipamento → `tecnica`    \n-   Ocorrência agora → `central`    \n\n**Fora do horário:** `central`\n\n----------\n\n### 6️⃣ COMERCIAL (PATRIMONIUM ou ALLTECH)\n**Palavras-chave:**\n-   orçamento, proposta, valores, tabela, preço    \n-   contratar, plano, ampliar serviço, implantação    \n\n**Pergunta (só se necessário):**\n-   “É para **Patrimonium** (segurança/portaria/alarme) ou **Alltech** (rastreamento veicular)?”    \n\n**Fila (no horário):**\n-   Patrimonium → `comercial`    \n-   Alltech → `comercial_alltech`    \n\n**Fora do horário:** `central`\n\n----------\n\n### 7️⃣ ALLTECH — AGENDAMENTO (agenda técnica e logística de campo)\n**Quando é agendamento:** IMPORTANTE PERGUNTAR SE O USUÁRIO TEM A PLACA DO VEÍCULO\n-   agendar instalação de rastreador    \n-   agendar manutenção do dispositivo    \n-   agendar retirada física do equipamento (veículo desativado)    \n-   definir data/horário/local para técnico    \n\n**Palavras-chave:**\n-   agendar, agendamento, marcar horário, disponibilidade    \n-   instalação, instalar rastreador, novo rastreador    \n-   manutenção, revisar, trocar dispositivo    \n-   retirada do equipamento, remover rastreador, veículo desativado    \n-   endereço, local, data, horário    \n\n**Fila (no horário):** `agendamento_alltech`  \n**Fora do horário:** `central`\n\n----------\n\n### 8️⃣ ALLTECH — OPERACIONAL (suporte geral: serviço, conectividade e software) - IMPORTANTE PERGUNTAR SE O USUÁRIO TEM A PLACA DO VEÍCULO\n**Quando é operacional:**\n-   GPS sem sinal / travado / não atualiza / não localiza    \n-   erro no app ou site / login    \n-   comandos não executam (bloqueio/desbloqueio)    \n-   comunicação do hardware com a plataforma    \n\n**Palavras-chave:**\n-   GPS, sem sinal, travado, não atualiza, não localiza    \n-   aplicativo, app, site, login, erro, bug    \n-   comando, bloqueio, desbloqueio, não funciona, não responde    \n-   conectividade, comunicação, dispositivo, plataforma    \n\n**Fila (no horário):** `operacional_alltech`  \n**Fora do horário:** `central`\n\n----------\n\n### 9️⃣ ALLTECH — SAC (relacionamento e administrativo/contratual)\n**Quando é SAC Alltech:** - IMPORTANTE PERGUNTAR SE O USUÁRIO TEM A PLACA DO VEÍCULO\n-   reclamação/elogio    \n-   cancelamento/retenção    \n-   troca de veículo (processo administrativo de retirada/reinstalaç    \n-   bonificação/desconto    \n-   transferência de titularidade (documental)    \n\n**Palavras-chave:**\n-   reclamação, insatisfeito, elogio, atendimento    \n-   cancelar, cancelamento, retenção, rescindir    \n-   troca de veículo, troquei de carro, reinstalação, reinstalar    \n-   retirar equipamento (processo), desativar    \n-   desconto, bonificação    \n-   titularidade, transferir titular, documento, documentação    \n\n**Fila (no horário):** `sac_alltech`  \n**Fora do horário:** `central`\n\n----------\n\n### 🔟 RH\n**Palavras-chave:**\n-   vaga, currículo, trabalhar, contratação    \n-   departamento pessoal, DP, holerite, ponto    \n\n**Fila (no horário):** `RH`  \n**Fora do horário:** `central`\n\n----------\n\n### REGRA DE PRESSA\nSe o usuário estiver com pressa, nervoso, irritado ou demonstrar urgência:\n-   Não insistir.    \n-   Registrar o mínimo (nome se tiver, resumo básico e objetivo curto).    \n-   Transferir imediatamente.    \n-   **Priorizar `central`** nesses casos.    \n-   Informar na mensagem interna que o usuário estava com pressa/nervoso.    \n\n----------\n\n## TRANSFERÊNCIA (OBRIGATÓRIA)\nSempre usar a tool **`transfer`**.\n**Antes de transferir (checagem rápida):**\n-   Se ainda não tiver o nome, tente 1 vez: “Para eu registrar corretamente, poderia me informar seu nome?”    \n-   Se o usuário não responder ou estiver com pressa/nervoso: não insistir e transferir com resumo básico.    \n-   Em caso de pressa/nervoso/urgência: **priorize `central`**.    \n\n### Mensagem privada deve conter:\n-   **Nome do usuário** (se não informado: “Nome não informado”)    \n-   **Resumo do atendimento** (1 frase detalhada e objetiva)    \n-   **Objetivo do usuário** (1 frase curta)    \n-   Empresa (Patrimonium ou Alltech, se aplicável)    \n-   Perfil (quando condomínio): morador / síndico / visitante/prestador    \n-   Dados relevantes coletados    \n-   Observação de urgência (pressa/nervoso/risco)    \n\n### Etiquetas válidas\n**Patrimonium**\n-   `central`    \n-   `financeiro`    \n-   `tecnica`    \n-   `sac`    \n-   `comercial`    \n-  `compras`    \n-   `tags`    \n\n**Alltech**\n-   `financeiro_alltech`    \n-   `comercial_alltech`    \n-   `operacional_alltech`    \n-   `agendamento_alltech`    \n-   `sac_alltech`    \n\n**RH**\n-   `RH`    \n\n----------\n\n## TOOLS DISPONÍVEIS\n### Tool: `sobreEmpresa`\nUsar apenas para:\n-   sempre que for solicitado informações sobre os serviços prestados tanto na Patrimonium quanto na Alltech, ou nas duas empresas.    \n-   site, Instagram, endereço, horário    \n-   informações institucionais do Grupo    \n-   explicação geral dos serviços (sem aprofundar escopo/valores)    \n\nRegra interna:  \n❌ Não usar para transferir.\n\n### Tool: `transfer`\n**Quando usar:**\n-   Sempre que você já tiver entendido a intenção do usuário e precisar encaminhar para um time/fila no Chatwoot.    \n-   Quando o usuário pedir qualquer ação que dependa de time humano (financeiro, central, técnico, SAC, comercial, RH ou setores Alltech).    \n-   Quando a conversa já está pronta para “passar o bastão” com contexto.    \n\n**Pré-check obrigatório (uso interno, sem travar atendimento):**  \nAntes de acionar `transfer`, sempre que possível garanta:\n-   **Nome** (se não tiver, tente 1 vez)    \n-   **Resumo do atendimento** (1 frase)    \n-   **Objetivo do usuário** (1 frase curta)    \n-   **Placa do Veículo** (Se aplicável)  \n    Se o usuário estiver com pressa/nervoso/irritado ou não responder:    \n-   **não insista**    \n-   transfira com o que tiver    \n-   **priorize `central`** nesses casos    \n\n**Como decidir a etiqueta/fila (sem perguntar lista ao usuário):**\n-   Use o **CHECKLIST INTERNO (palavras-chave)** para escolher a fila correta.    \n-   Se estiver em dúvida entre Patrimonium e Alltech, faça **apenas 1 pergunta de desempate**.    \n-   **Financeiro vence comercial** sempre que houver termos de cobrança/pagamento.    \n-   Se o contato for **fornecedor/vendedor oferecendo produtos/serviços** para o Grupo → `compras` (no horário).    \n-   Se o usuário mencionar **adquirir/comprar/segunda via** de **tag veicular/botons/controle remoto** → `tags` (no horário).    \n-   **Fora do horário (seg–sex 08–18): tudo vai para `central`**, sem exceção.    \n\n**O que enviar na mensagem privada (NUNCA visível ao usuário):**  \nA mensagem interna deve ser curta, objetiva e útil para o humano, contendo:\n-   **Nome:** (ou “Nome não informado”)    \n-   **Empresa:** Patrimonium / Alltech (se aplicável)    \n-   **Fila/etiqueta:** (a etiqueta que você aplicou)    \n-   **Resumo (1 frase):** o que o usuário relatou/pediu    \n-   **Objetivo (1 frase):** intenção principal    \n-   **Placa do Veículo** (Se aplicável)    \n-   **Dados relevantes:** (condomínio/apto/bloco, placa, endereço, etc. se tiver)    \n-   **Tom/urgência:** “usuário com pressa”, “nervoso”, “urgente” (se aplicável)    \n\n**Modelo padrão (copiar e usar):**\n-   Nome: {nome ou “Nome não informado”}    \n-   Empresa: {Patrimonium|Alltech|indefinido}    \n-   Etiqueta: {fila}    \n-   Resumo: {1 frase factual do pedido}    \n-   Objetivo: {1 frase curta}    \n-   Dados: {condomínio/apto/bloco | placa | endereço | etc.}    \n-   Observação: {pressa/nervoso/urgência, se houver}    \n\n**Quando NÃO usar:**\n-   Para responder informações institucionais (use `sobreEmpresa`).    \n-   Para “consultar serviços” ou explicar escopo/funcionamento detalhado (isso deve ser respondido com base nas regras internas/serviços e, se não constar, encaminhar ao time responsável via `transfer`).    \n\n**Regra crítica:**\n-   A transferência sempre deve ser feita com **mensagem privada + etiqueta correta**.    \n-   Nunca escreva a mensagem interna no chat visível ao usuário.    \n\n----------\n\n## DATA E HORA\n`{{ $('proximos_dias').item.json.resultado }}`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        160,
        560
      ],
      "id": "b7c626f3-4884-49ca-9263-c55c47142863",
      "name": "Pati"
    }
  ],
  "pinData": {
    "Webhook3": [
      {
        "json": {
          "headers": {
            "host": "clawedtriggerfish-n8n.cloudfy.cloud",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "content-length": "4706",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "5.161.118.54",
            "cf-ipcountry": "US",
            "cf-ray": "9bddc9560dac55d0-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "104.23.211.100",
            "x-forwarded-host": "clawedtriggerfish-n8n.cloudfy.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c74f6cbce8a9",
            "x-real-ip": "104.23.211.100"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 1,
              "name": "PATRIMONIUM"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "sim",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 7322,
                "contact_id": 2,
                "inbox_id": 4,
                "source_id": "6d08b426-07b2-4031-859a-ce8f71968364",
                "created_at": "2026-01-14T14:20:25.382Z",
                "updated_at": "2026-01-14T14:20:25.382Z",
                "hmac_verified": false,
                "pubsub_token": "G7zgqEi2tSJKRzwYnKWAXATu"
              },
              "id": 6239,
              "inbox_id": 4,
              "messages": [
                {
                  "id": 74004,
                  "content": "sim",
                  "account_id": 1,
                  "inbox_id": 4,
                  "conversation_id": 6239,
                  "message_type": 0,
                  "created_at": 1768400556,
                  "updated_at": "2026-01-14T14:22:36.413Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:3EB03C4161C8ADF19C0EEA",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 2,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "sim",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 1,
                    "last_activity_at": 1768400556,
                    "contact_inbox": {
                      "source_id": "6d08b426-07b2-4031-859a-ce8f71968364"
                    }
                  },
                  "sender": {
                    "additional_attributes": {
                      "avatar_url_hash": "45aa4b7b1640efdad73f0d413640e1352572722a8d32a30086c27cecb0f975fc",
                      "last_avatar_sync_at": "2025-12-21T13:03:49Z"
                    },
                    "custom_attributes": {
                      "nocsat": false
                    },
                    "email": null,
                    "id": 2,
                    "identifier": "554484089133@s.whatsapp.net",
                    "name": "Danilo Saderi",
                    "phone_number": "+554484089133",
                    "thumbnail": "https://clawedtriggerfish-chatwoot.cloudfy.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdlFDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--0db6326cf552a522f384c02c01d8198d24e8cfcf/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--73c5fca8eed6dbf407ff536efd4a064e4e7941a7/566616414_873944215096250_4446402069052993430_n.jpg",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {
                    "avatar_url_hash": "45aa4b7b1640efdad73f0d413640e1352572722a8d32a30086c27cecb0f975fc",
                    "last_avatar_sync_at": "2025-12-21T13:03:49Z"
                  },
                  "custom_attributes": {
                    "nocsat": false
                  },
                  "email": null,
                  "id": 2,
                  "identifier": "554484089133@s.whatsapp.net",
                  "name": "Danilo Saderi",
                  "phone_number": "+554484089133",
                  "thumbnail": "https://clawedtriggerfish-chatwoot.cloudfy.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdlFDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--0db6326cf552a522f384c02c01d8198d24e8cfcf/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--73c5fca8eed6dbf407ff536efd4a064e4e7941a7/566616414_873944215096250_4446402069052993430_n.jpg",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "assignee_type": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": "2026-01-14T14:20:32.567Z",
              "priority": null,
              "waiting_since": 0,
              "agent_last_seen_at": 1768400552,
              "contact_last_seen_at": 1768400551,
              "last_activity_at": 1768400556,
              "timestamp": 1768400556,
              "created_at": 1768400425,
              "updated_at": 1768400556.4149525
            },
            "created_at": "2026-01-14T14:22:36.413Z",
            "id": 74004,
            "inbox": {
              "id": 4,
              "name": "Piloto-33436644"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 1,
                "name": "PATRIMONIUM"
              },
              "additional_attributes": {
                "avatar_url_hash": "45aa4b7b1640efdad73f0d413640e1352572722a8d32a30086c27cecb0f975fc",
                "last_avatar_sync_at": "2025-12-21T13:03:49Z"
              },
              "avatar": "https://clawedtriggerfish-chatwoot.cloudfy.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdlFDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--0db6326cf552a522f384c02c01d8198d24e8cfcf/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--73c5fca8eed6dbf407ff536efd4a064e4e7941a7/566616414_873944215096250_4446402069052993430_n.jpg",
              "custom_attributes": {
                "nocsat": false
              },
              "email": null,
              "id": 2,
              "identifier": "554484089133@s.whatsapp.net",
              "name": "Danilo Saderi",
              "phone_number": "+554484089133",
              "thumbnail": "https://clawedtriggerfish-chatwoot.cloudfy.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdlFDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--0db6326cf552a522f384c02c01d8198d24e8cfcf/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--73c5fca8eed6dbf407ff536efd4a064e4e7941a7/566616414_873944215096250_4446402069052993430_n.jpg",
              "blocked": false
            },
            "source_id": "WAID:3EB03C4161C8ADF19C0EEA",
            "event": "message_created"
          },
          "webhookUrl": "https://clawedtriggerfish-n8n.cloudfy.cloud/webhook/piloto",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "setarInfo": {
      "main": [
        [
          {
            "node": "Pati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Call '3- CRM - Piloto Patrimonium'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respostaChatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quebrar_mensagem": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarMsgAgent": {
      "main": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "memoria": {
      "ai_memory": [
        [
          {
            "node": "Pati",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Pati",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setarImg1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "setarAudio": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreverAudio": {
      "main": [
        [
          {
            "node": "setarAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixarAudio": {
      "main": [
        [
          {
            "node": "transcreverAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "setarMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConcatenaMsg": {
      "main": [
        [
          {
            "node": "Delete Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ConcatenaMsg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarTexto1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "baixarAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setarTexto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg_erro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "msgChatWoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msgChatWoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setarInfo4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo4": {
      "main": [
        [
          {
            "node": "PuxarNumeroLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respostaChatwoot": {
      "main": [
        [
          {
            "node": "2 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriarUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PuxarNumeroLead": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriarUsuario": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarMsg": {
      "main": [
        [
          {
            "node": "Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 segundos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analisador": {
      "ai_tool": [
        [
          {
            "node": "analisador de Imagens",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "analisador de Imagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analisador de Imagens": {
      "main": [
        [
          {
            "node": "setarImg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.5Flash": {
      "ai_languageModel": [
        [
          {
            "node": "analisador de Imagens",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "sobreEmpresa": {
      "ai_tool": [
        [
          {
            "node": "Pati",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "transfer": {
      "ai_tool": [
        [
          {
            "node": "Pati",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pati": {
      "main": [
        [
          {
            "node": "setarMsgAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "62f277b5-3d61-4cdb-a84d-e039a94a93dc",
  "meta": {
    "instanceId": "1b3b407650e679c76ec0b02fcb37178ccb25ea1ed24c18c13b8148f8a2fa5388"
  },
  "id": "PgmOmRCZXLcbF8LC",
  "tags": []
}