11-04-2026/W4 - Tool - Buscar Produtos Bom Saldo.json
{
  "name": "W4 - Tool - Buscar Produtos Bom Saldo",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome"
            },
            {
              "name": "produtos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -496,
        400
      ],
      "id": "0e9d6e00-fdf2-48b6-9500-dbf2adfc2d26",
      "name": "Trigger"
    },
    {
      "parameters": {
        "jsCode": "const normalize = (str) => {\n  if (!str) return '';\n  return str.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().trim();\n};\n\nconst tParam = $input.first().json;\nconst termoBruto = String(tParam.nome || tParam.produtos || '').trim();\nconst termoNorm = normalize(termoBruto);\n\nconst stopwords = ['de','da','do','para','com','em','um','uma','o','a','os','as','e','ou'];\n\nconst tokens = termoNorm.split(/\\s+/).filter(t => t.length > 2 && !stopwords.includes(t));\n\n// Token principal: maior palavra com mais de 3 chars (mais específica)\nconst tokenOrdenado = [...tokens].sort((a,b) => b.length - a.length);\nconst tokenPrincipal = tokenOrdenado[0] || termoNorm.split(/\\s+/)[0] || termoNorm;\n\nreturn [{ json: {\n  termo_original: termoBruto,\n  termo_normalizado: termoNorm,\n  token_principal: tokenPrincipal,\n  tokens: tokens\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        400
      ],
      "id": "4765f897-ae28-44c5-94b3-b2afdfd0f01d",
      "name": "Normalizar Termo"
    },
    {
      "parameters": {
        "url": "=https://bomsaldo.com/api/produtos/?nome={{ encodeURIComponent($json.termo_normalizado) }}&ativo=1&limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access-token",
              "value": "698a9f9846f8ea6d2b3a59d5cb99f4a9e32c17e8"
            },
            {
              "name": "secret-access-token",
              "value": "874ac39b56dcf8a7b87e9bdafe88f833d0155c7a"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        272
      ],
      "id": "3efb4487-8e90-4946-80a4-d923bc8c313f",
      "name": "GET Produtos Exato"
    },
    {
      "parameters": {
        "url": "=https://bomsaldo.com/api/produtos/?nome={{ encodeURIComponent($json.token_principal) }}&ativo=1&limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access-token",
              "value": "698a9f9846f8ea6d2b3a59d5cb99f4a9e32c17e8"
            },
            {
              "name": "secret-access-token",
              "value": "874ac39b56dcf8a7b87e9bdafe88f833d0155c7a"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        544
      ],
      "id": "239d9c93-792e-45bf-8ae4-3ee32dabb10c",
      "name": "GET Produtos Broad"
    },
    {
      "parameters": {
        "mode": "combineAll"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        224,
        400
      ],
      "id": "843eb3d0-de66-41f0-ac67-6c7e1c3e2f8c",
      "name": "Merge Resultados"
    },
    {
      "parameters": {
        "jsCode": "// ── Helpers ──────────────────────────────────────────────────────────\nconst normalize = (str) => {\n  if (!str) return '';\n  return str.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().trim();\n};\n\nconst levenshtein = (a, b) => {\n  if (!a) return (b||'').length;\n  if (!b) return a.length;\n  const m = Array.from({length: b.length + 1}, (_, i) => [i]);\n  for (let j = 0; j <= a.length; j++) m[0][j] = j;\n  for (let i = 1; i <= b.length; i++) {\n    for (let j = 1; j <= a.length; j++) {\n      m[i][j] = b[i-1] === a[j-1]\n        ? m[i-1][j-1]\n        : 1 + Math.min(m[i-1][j-1], m[i][j-1], m[i-1][j]);\n    }\n  }\n  return m[b.length][a.length];\n};\n\n// Aliases comuns no setor de segurança eletrônica\nconst ALIASES = {\n  'cam': 'camera', 'cftv': 'camera', 'cameras': 'camera',\n  'ctrl': 'controle', 'tec': 'teclado', 'tecl': 'teclado',\n  'bat': 'bateria', 'bats': 'bateria', 'baterias': 'bateria',\n  'fnt': 'fonte', 'fontes': 'fonte', 'alim': 'alimentacao',\n  'mov': 'movimento', 'pir': 'infravermelho', 'irt': 'infravermelho',\n  'mag': 'magnetico', 'sab': 'sabotagem',\n  'sir': 'sirene', 'siren': 'sirene', 'sirenes': 'sirene',\n  'cbl': 'cabo', 'cabos': 'cabo', 'cabeamento': 'cabo',\n  'mod': 'modulo', 'modulos': 'modulo', 'gprs': 'modulo',\n  'acesso': 'controle acesso', 'biom': 'biometrico',\n  'act': 'acionador', 'btn': 'botao',\n  'nvr': 'nvr', 'dvr': 'dvr', 'xvr': 'dvr',\n  'jfl': 'jfl', 'dsc': 'dsc', 'paradox': 'paradox', 'intelbras': 'intelbras'\n};\n\nconst expandirAlias = (p) => ALIASES[p] || p;\n\n// ── Recuperar contexto ──────────────────────────────────────────────\nconst normNode = $('Normalizar Termo').first().json;\nconst termoOriginal = normNode.termo_original || '';\nconst termo = normalize(termoOriginal);\nconst stopwords = ['de','da','do','para','com','em','um','uma','o','a'];\nconst palavrasBusca = termo.split(/\\s+/)\n  .filter(p => p.length > 1 && !stopwords.includes(p))\n  .map(expandirAlias);\n\n// ── Coletar e deduplicar todos os resultados ────────────────────────\nconst allItems = $input.all();\nconst todos = allItems.flatMap(item => item.json.data || []);\nconst vistos = new Set();\nconst unicos = todos.filter(p => {\n  if (vistos.has(p.id)) return false;\n  vistos.add(p.id);\n  return true;\n});\n\nif (unicos.length === 0) {\n  return [{ json: {\n    resultado: `Nenhum produto encontrado para \"${termoOriginal}\". Tente: câmera, sensor, central de alarme, cabo, fonte, sirene, teclado, módulo.`,\n    option_map: {},\n    produtos: []\n  }}];\n}\n\n// ── Fuzzy scoring com Levenshtein ───────────────────────────────────\nconst pontuados = unicos.map(p => {\n  const alvo = normalize(p.nome);\n  const palavrasAlvo = alvo.split(/\\s+/);\n  let score = 0;\n\n  if (alvo === termo) score += 100;\n  if (alvo.includes(termo)) score += 60;\n\n  palavrasBusca.forEach(busca => {\n    if (busca.length < 2) return;\n\n    // Correspondência direta\n    if (alvo.includes(busca)) {\n      score += 25;\n      if (alvo.startsWith(busca)) score += 10;\n    }\n\n    // Tolerância a typos via Levenshtein por palavra\n    palavrasAlvo.forEach(pa => {\n      if (pa.length >= 3 && busca.length >= 3) {\n        const dist = levenshtein(busca, pa);\n        const maxLen = Math.max(busca.length, pa.length);\n        if (dist === 0) score += 30;\n        else if (dist === 1) score += 18; // typo de 1 char\n        else if (dist === 2 && maxLen >= 6) score += 8; // typo de 2 em palavra longa\n      }\n    });\n  });\n\n  // Bônus se TODAS as palavras bateram\n  if (palavrasBusca.length > 1 && palavrasBusca.every(b => alvo.includes(b))) {\n    score += 35;\n  }\n\n  return { p, score };\n}).filter(x => x.score > 0 || unicos.length <= 3);\n\npontuados.sort((a, b) => b.score - a.score);\n\nconst lista = pontuados.slice(0, 8).map((x, i) => {\n  const variacao_id = x.p.variacoes && x.p.variacoes[0]\n    ? String(x.p.variacoes[0].variacao.id)\n    : null;\n  return {\n    index: i + 1,\n    id: String(x.p.id),\n    variacao_id,\n    nome: x.p.nome,\n    codigo: x.p.codigo_interno || '',\n    valor_venda: x.p.valor_venda,\n    estoque: x.p.estoque || 0\n  };\n});\n\nif (lista.length === 0) {\n  return [{ json: {\n    resultado: `Nenhum produto compatível com \"${termoOriginal}\". Sugestões de termos: câmera IP, sensor de movimento, central de alarme, cabo coaxial, fonte 12V.`,\n    option_map: {},\n    produtos: []\n  }}];\n}\n\nconst textoLista = lista\n  .map(p => `${p.index}. ${p.nome} | Cód: ${p.codigo || '-'} | R$${p.valor_venda} | Est: ${p.estoque}`)\n  .join('\\n');\n\nconst option_map = {};\nlista.forEach(p => {\n  option_map[String(p.index)] = { id: p.id, variacao_id: p.variacao_id, nome: p.nome, codigo_interno: p.codigo, valor_venda: p.valor_venda };\n});\n\nreturn [{ json: {\n  resultado: `Produtos para \"${termoOriginal}\":\\n${textoLista}\\n\\nApresente as opções ao técnico. Quando ele informar o NÚMERO, use o option_map para obter produto_id e variacao_id oficiais.`,\n  option_map,\n  produtos: lista\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        400
      ],
      "id": "3d111aec-c3f1-4caf-be74-423217fa6e16",
      "name": "Formatar Produtos"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Termo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Termo": {
      "main": [
        [
          {
            "node": "GET Produtos Exato",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Produtos Broad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Produtos Exato": {
      "main": [
        [
          {
            "node": "Merge Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Produtos Broad": {
      "main": [
        [
          {
            "node": "Merge Resultados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Resultados": {
      "main": [
        [
          {
            "node": "Formatar Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "83d5997e-e3e2-4110-95dd-902db1a4df6d",
  "meta": {
    "instanceId": "52423c8eed14a700113dd7744ad17756f0722f80a0afb8f160f2fa37d099cb8c"
  },
  "id": "iJRYEqsLzCVACG0j",
  "tags": []
}