11-04-2026/W8 - Tool - Salvar Contexto OS.json
{
  "name": "W8 - Tool - Salvar Contexto OS",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "os_codigo"
            },
            {
              "name": "os_id_bomsaldo"
            },
            {
              "name": "conversa_id"
            },
            {
              "name": "tecnico_id"
            },
            {
              "name": "tecnico_nome"
            },
            {
              "name": "tecnico_whatsapp"
            },
            {
              "name": "cliente_nome"
            },
            {
              "name": "cliente_codigo"
            },
            {
              "name": "cliente_endereco"
            },
            {
              "name": "equipamento"
            },
            {
              "name": "equipamento_codigo"
            },
            {
              "name": "marca"
            },
            {
              "name": "modelo"
            },
            {
              "name": "defeito"
            },
            {
              "name": "causa"
            },
            {
              "name": "solucao"
            },
            {
              "name": "relatorio_tecnico"
            },
            {
              "name": "tipo_servico"
            },
            {
              "name": "servico_nome"
            },
            {
              "name": "servico_codigo"
            },
            {
              "name": "observacoes_orientacao"
            },
            {
              "name": "em_garantia"
            },
            {
              "name": "tipo_pagamento"
            },
            {
              "name": "forma_pagamento_id"
            },
            {
              "name": "valor_total"
            },
            {
              "name": "hora_entrada"
            },
            {
              "name": "hora_saida"
            },
            {
              "name": "link_pasta_drive"
            },
            {
              "name": "status_os"
            },
            {
              "name": "fase_ia"
            },
            {
              "name": "motivo_cancelamento"
            },
            {
              "name": "produtos_json"
            },
            {
              "name": "servicos_json"
            }
          ]
        }
      },
      "id": "t-w8-trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Valida e filtra apenas campos com valor\nconst p = $input.first().json;\n\nif (!p.os_codigo) {\n  throw new Error('ERRO: os_codigo e OBRIGATORIO para salvar contexto.');\n}\n\nconst out = { os_codigo: String(p.os_codigo) };\n\nconst camposStr = [\n  'os_id_bomsaldo', 'conversa_id',\n  'tecnico_id', 'tecnico_nome', 'tecnico_whatsapp',\n  'cliente_nome', 'cliente_codigo', 'cliente_endereco',\n  'equipamento', 'equipamento_codigo', 'marca', 'modelo',\n  'defeito', 'causa', 'solucao', 'relatorio_tecnico',\n  'tipo_servico', 'servico_nome', 'servico_codigo', 'observacoes_orientacao',\n  'tipo_pagamento', 'forma_pagamento_id',\n  'hora_entrada', 'hora_saida',\n  'link_pasta_drive',\n  'status_os', 'fase_ia', 'motivo_cancelamento',\n  'produtos_json', 'servicos_json'\n];\n\nfor (const campo of camposStr) {\n  if (p[campo] !== undefined && p[campo] !== null && p[campo] !== '') {\n    out[campo] = String(p[campo]);\n  }\n}\n\n// Campos numericos\nif (p.valor_total !== undefined && p.valor_total !== null && p.valor_total !== '') {\n  out.valor_total = Number(p.valor_total) || 0;\n}\n\n// Campo boolean\nif (p.em_garantia !== undefined && p.em_garantia !== null && p.em_garantia !== '') {\n  out.em_garantia = (p.em_garantia === 'true' || p.em_garantia === true);\n}\n\n// Campos JSON - produtos_json e servicos_json\n// Aceita string JSON ou array diretamente\nconst parseJSON = (val) => {\n  if (!val || val === '') return null;\n  if (Array.isArray(val)) return val.length > 0 ? JSON.stringify(val) : null;\n  if (typeof val === 'string') {\n    try { const arr = JSON.parse(val); return Array.isArray(arr) && arr.length > 0 ? val : null; } catch { return null; }\n  }\n  return null;\n};\n\nconst pj = parseJSON(p.produtos_json);\nif (pj) out.produtos_json = pj;\n\nconst sj = parseJSON(p.servicos_json);\nif (sj) out.servicos_json = sj;\n\n// Flag interna\nout._tem_os_id = !!(out.os_id_bomsaldo && out.os_id_bomsaldo !== '');\n\nreturn [{ json: out }];"
      },
      "id": "t-w8-validar",
      "name": "Validar Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "ordens_servico",
        "filters": {
          "conditions": [
            {
              "keyName": "os_codigo",
              "keyValue": "={{ $json.os_codigo }}"
            }
          ]
        }
      },
      "id": "t-w8-get",
      "name": "GET OS por Codigo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "3TZFb8LBSmrd137a",
          "name": "Supabase Vanda OS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "t-w8-exists",
      "name": "OS Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        64,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge: manter existente, sobrescrever com novos valores não-nulos\nconst novos = $('Validar Params').first().json;\nconst existente = $input.first().json;\nconst merged = { ...existente };\n\nfor (const key in novos) {\n  if (novos[key] !== null && novos[key] !== undefined && novos[key] !== '') {\n    merged[key] = novos[key];\n  }\n}\n\nmerged.atualizado_em = new Date().toISOString();\ndelete merged.id;\ndelete merged.criado_em;\n\n// Normalizar hora_entrada e hora_saida para texto simples HH:MM\n// Coluna agora é text - aceita qualquer formato legivel\nconst normalizeHora = (raw) => {\n  if (!raw || raw === '') return null;\n  const s = String(raw).trim();\n  // Já é HH:MM ou HH:MM:SS\n  const mColon = s.match(/^(\\d{1,2}):(\\d{2})/);\n  if (mColon) return `${mColon[1].padStart(2,'0')}:${mColon[2]}`;\n  // HHhMM ou HHh\n  const mH = s.match(/^(\\d{1,2})h(\\d{2})?$/i);\n  if (mH) return `${mH[1].padStart(2,'0')}:${(mH[2]||'00').padStart(2,'0')}`;\n  // ISO timestamp - extrair hora no fuso SP\n  try {\n    const d = new Date(s);\n    if (!isNaN(d.getTime())) {\n      return d.toLocaleString('pt-BR',{timeZone:'America/Sao_Paulo',hour:'2-digit',minute:'2-digit',hour12:false});\n    }\n  } catch {}\n  return s;\n};\n\nif (merged.hora_entrada) merged.hora_entrada = normalizeHora(merged.hora_entrada) || merged.hora_entrada;\nif (merged.hora_saida) merged.hora_saida = normalizeHora(merged.hora_saida) || merged.hora_saida;\n\nreturn [{ json: merged }];"
      },
      "id": "t-w8-merge",
      "name": "Merge para Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar INSERT de nova OS\nconst novos = $('Validar Params').first().json;\nconst out = { ...novos };\nout.fase_ia = out.fase_ia || 'identificacao';\nout.status_os = out.status_os || 'aberta';\n\n// Normalizar hora para texto simples HH:MM (coluna é text)\nconst normalizeHora = (raw) => {\n  if (!raw || raw === '') return null;\n  const s = String(raw).trim();\n  const mColon = s.match(/^(\\d{1,2}):(\\d{2})/);\n  if (mColon) return `${mColon[1].padStart(2,'0')}:${mColon[2]}`;\n  const mH = s.match(/^(\\d{1,2})h(\\d{2})?$/i);\n  if (mH) return `${mH[1].padStart(2,'0')}:${(mH[2]||'00').padStart(2,'0')}`;\n  try {\n    const d = new Date(s);\n    if (!isNaN(d.getTime())) {\n      return d.toLocaleString('pt-BR',{timeZone:'America/Sao_Paulo',hour:'2-digit',minute:'2-digit',hour12:false});\n    }\n  } catch {}\n  return s;\n};\n\nif (out.hora_entrada) out.hora_entrada = normalizeHora(out.hora_entrada) || out.hora_entrada;\nif (out.hora_saida) out.hora_saida = normalizeHora(out.hora_saida) || out.hora_saida;\n\nreturn [{ json: out }];"
      },
      "id": "t-w8-prep",
      "name": "Prep para Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        432
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ordens_servico",
        "filters": {
          "conditions": [
            {
              "keyName": "os_codigo",
              "condition": "eq",
              "keyValue": "={{ $json.os_codigo }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "os_id_bomsaldo",
              "fieldValue": "={{ $json.os_id_bomsaldo || null }}"
            },
            {
              "fieldId": "conversa_id",
              "fieldValue": "={{ $json.conversa_id || null }}"
            },
            {
              "fieldId": "tecnico_id",
              "fieldValue": "={{ $json.tecnico_id || null }}"
            },
            {
              "fieldId": "tecnico_nome",
              "fieldValue": "={{ $json.tecnico_nome || null }}"
            },
            {
              "fieldId": "tecnico_whatsapp",
              "fieldValue": "={{ $json.tecnico_whatsapp || null }}"
            },
            {
              "fieldId": "cliente_nome",
              "fieldValue": "={{ $json.cliente_nome || null }}"
            },
            {
              "fieldId": "cliente_codigo",
              "fieldValue": "={{ $json.cliente_codigo || null }}"
            },
            {
              "fieldId": "cliente_endereco",
              "fieldValue": "={{ $json.cliente_endereco || null }}"
            },
            {
              "fieldId": "equipamento",
              "fieldValue": "={{ $json.equipamento || null }}"
            },
            {
              "fieldId": "equipamento_codigo",
              "fieldValue": "={{ $json.equipamento_codigo || null }}"
            },
            {
              "fieldId": "marca",
              "fieldValue": "={{ $json.marca || null }}"
            },
            {
              "fieldId": "modelo",
              "fieldValue": "={{ $json.modelo || null }}"
            },
            {
              "fieldId": "defeito",
              "fieldValue": "={{ $json.defeito || null }}"
            },
            {
              "fieldId": "causa",
              "fieldValue": "={{ $json.causa || null }}"
            },
            {
              "fieldId": "solucao",
              "fieldValue": "={{ $json.solucao || null }}"
            },
            {
              "fieldId": "relatorio_tecnico",
              "fieldValue": "={{ $json.relatorio_tecnico || null }}"
            },
            {
              "fieldId": "tipo_servico",
              "fieldValue": "={{ $json.tipo_servico || null }}"
            },
            {
              "fieldId": "servico_nome",
              "fieldValue": "={{ $json.servico_nome || null }}"
            },
            {
              "fieldId": "servico_codigo",
              "fieldValue": "={{ $json.servico_codigo || null }}"
            },
            {
              "fieldId": "observacoes_orientacao",
              "fieldValue": "={{ $json.observacoes_orientacao || null }}"
            },
            {
              "fieldId": "em_garantia",
              "fieldValue": "={{ $json.em_garantia !== undefined ? $json.em_garantia : false }}"
            },
            {
              "fieldId": "tipo_pagamento",
              "fieldValue": "={{ $json.tipo_pagamento || null }}"
            },
            {
              "fieldId": "forma_pagamento_id",
              "fieldValue": "={{ $json.forma_pagamento_id || null }}"
            },
            {
              "fieldId": "valor_total",
              "fieldValue": "={{ $json.valor_total || 0 }}"
            },
            {
              "fieldId": "hora_entrada",
              "fieldValue": "={{ $json.hora_entrada || null }}"
            },
            {
              "fieldId": "hora_saida",
              "fieldValue": "={{ $json.hora_saida || null }}"
            },
            {
              "fieldId": "link_pasta_drive",
              "fieldValue": "={{ $json.link_pasta_drive || null }}"
            },
            {
              "fieldId": "status_os",
              "fieldValue": "={{ $json.status_os || null }}"
            },
            {
              "fieldId": "fase_ia",
              "fieldValue": "={{ $json.fase_ia || null }}"
            },
            {
              "fieldId": "motivo_cancelamento",
              "fieldValue": "={{ $json.motivo_cancelamento || null }}"
            },
            {
              "fieldId": "atualizado_em",
              "fieldValue": "={{ $json.atualizado_em }}"
            },
            {
              "fieldId": "produtos_json",
              "fieldValue": "={{ $json.produtos_json !== undefined ? (typeof $json.produtos_json === 'string' ? $json.produtos_json : JSON.stringify($json.produtos_json)) : null }}"
            },
            {
              "fieldId": "servicos_json",
              "fieldValue": "={{ $json.servicos_json !== undefined ? (typeof $json.servicos_json === 'string' ? $json.servicos_json : JSON.stringify($json.servicos_json)) : null }}"
            }
          ]
        }
      },
      "id": "t-w8-update",
      "name": "UPDATE OS",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "credentials": {
        "supabaseApi": {
          "id": "3TZFb8LBSmrd137a",
          "name": "Supabase Vanda OS"
        }
      }
    },
    {
      "parameters": {
        "tableId": "ordens_servico",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "os_codigo",
              "fieldValue": "={{ $json.os_codigo }}"
            },
            {
              "fieldId": "os_id_bomsaldo",
              "fieldValue": "={{ $json.os_id_bomsaldo || null }}"
            },
            {
              "fieldId": "conversa_id",
              "fieldValue": "={{ $json.conversa_id || null }}"
            },
            {
              "fieldId": "tecnico_id",
              "fieldValue": "={{ $json.tecnico_id || null }}"
            },
            {
              "fieldId": "tecnico_nome",
              "fieldValue": "={{ $json.tecnico_nome || null }}"
            },
            {
              "fieldId": "tecnico_whatsapp",
              "fieldValue": "={{ $json.tecnico_whatsapp || null }}"
            },
            {
              "fieldId": "cliente_nome",
              "fieldValue": "={{ $json.cliente_nome || null }}"
            },
            {
              "fieldId": "cliente_codigo",
              "fieldValue": "={{ $json.cliente_codigo || null }}"
            },
            {
              "fieldId": "cliente_endereco",
              "fieldValue": "={{ $json.cliente_endereco || null }}"
            },
            {
              "fieldId": "equipamento",
              "fieldValue": "={{ $json.equipamento || null }}"
            },
            {
              "fieldId": "equipamento_codigo",
              "fieldValue": "={{ $json.equipamento_codigo || null }}"
            },
            {
              "fieldId": "marca",
              "fieldValue": "={{ $json.marca || null }}"
            },
            {
              "fieldId": "modelo",
              "fieldValue": "={{ $json.modelo || null }}"
            },
            {
              "fieldId": "defeito",
              "fieldValue": "={{ $json.defeito || null }}"
            },
            {
              "fieldId": "causa",
              "fieldValue": "={{ $json.causa || null }}"
            },
            {
              "fieldId": "solucao",
              "fieldValue": "={{ $json.solucao || null }}"
            },
            {
              "fieldId": "relatorio_tecnico",
              "fieldValue": "={{ $json.relatorio_tecnico || null }}"
            },
            {
              "fieldId": "tipo_servico",
              "fieldValue": "={{ $json.tipo_servico || null }}"
            },
            {
              "fieldId": "servico_nome",
              "fieldValue": "={{ $json.servico_nome || null }}"
            },
            {
              "fieldId": "servico_codigo",
              "fieldValue": "={{ $json.servico_codigo || null }}"
            },
            {
              "fieldId": "observacoes_orientacao",
              "fieldValue": "={{ $json.observacoes_orientacao || null }}"
            },
            {
              "fieldId": "em_garantia",
              "fieldValue": "={{ $json.em_garantia !== undefined ? $json.em_garantia : false }}"
            },
            {
              "fieldId": "tipo_pagamento",
              "fieldValue": "={{ $json.tipo_pagamento || null }}"
            },
            {
              "fieldId": "forma_pagamento_id",
              "fieldValue": "={{ $json.forma_pagamento_id || null }}"
            },
            {
              "fieldId": "valor_total",
              "fieldValue": "={{ $json.valor_total || 0 }}"
            },
            {
              "fieldId": "hora_entrada",
              "fieldValue": "={{ $json.hora_entrada || null }}"
            },
            {
              "fieldId": "hora_saida",
              "fieldValue": "={{ $json.hora_saida || null }}"
            },
            {
              "fieldId": "link_pasta_drive",
              "fieldValue": "={{ $json.link_pasta_drive || null }}"
            },
            {
              "fieldId": "status_os",
              "fieldValue": "={{ $json.status_os || 'aberta' }}"
            },
            {
              "fieldId": "fase_ia",
              "fieldValue": "={{ $json.fase_ia || 'identificacao' }}"
            },
            {
              "fieldId": "produtos_json",
              "fieldValue": "={{ $json.produtos_json !== undefined ? (typeof $json.produtos_json === 'string' ? $json.produtos_json : JSON.stringify($json.produtos_json)) : undefined }}"
            },
            {
              "fieldId": "servicos_json",
              "fieldValue": "={{ $json.servicos_json !== undefined ? (typeof $json.servicos_json === 'string' ? $json.servicos_json : JSON.stringify($json.servicos_json)) : undefined }}"
            }
          ]
        }
      },
      "id": "t-w8-insert",
      "name": "INSERT OS",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "credentials": {
        "supabaseApi": {
          "id": "3TZFb8LBSmrd137a",
          "name": "Supabase Vanda OS"
        }
      }
    },
    {
      "parameters": {},
      "id": "t-w8-join",
      "name": "Join Flows",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        784,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "let r = {};\ntry { r = $input.first().json || {}; } catch {}\nconst p = $('Validar Params').first().json;\n\n// Detectar se foi INSERT (OS nao existia no banco)\n// Se o Supabase INSERT retornou o registro, ele tera 'id' (pk do Supabase)\nconst foiInsert = r.id !== undefined && r.os_id_bomsaldo !== undefined;\n\n// ALERTA: INSERT sem os_id_bomsaldo = OS nao criada no Bom Saldo ainda\n// Isso significa que a Vanda chamou salvarContexto antes de criarOS\nif (foiInsert && !r.os_id_bomsaldo && !p._tem_os_id) {\n  return [{ json: {\n    sucesso: false,\n    erro: 'OS registrada localmente sem os_id_bomsaldo. A OS ainda NAO foi criada no Bom Saldo. Use a tool criarOS primeiro, depois salvarContexto.',\n    os_codigo: r.os_codigo || p.os_codigo,\n    os_id_bomsaldo: null,\n    acao: 'INSERT_SEM_OS_ID',\n    mensagem: 'ERRO: Chame criarOS antes de salvarContexto. Sem os_id_bomsaldo a OS nao existe no sistema ERP.'\n  }}];\n}\n\nreturn [{ json: {\n  sucesso: true,\n  os_codigo: r.os_codigo || p.os_codigo,\n  os_id_bomsaldo: r.os_id_bomsaldo || p.os_id_bomsaldo || null,\n  fase_ia: r.fase_ia || p.fase_ia || 'identificacao',\n  status_os: r.status_os || p.status_os || 'aberta',\n  tecnico_id: r.tecnico_id || p.tecnico_id || null,\n  cliente_codigo: r.cliente_codigo || p.cliente_codigo || null,\n  mensagem: 'Contexto OS #' + (r.os_codigo || p.os_codigo) + ' salvo com sucesso.'\n}}];"
      },
      "id": "t-w8-resp",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Validar Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Params": {
      "main": [
        [
          {
            "node": "GET OS por Codigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET OS por Codigo": {
      "main": [
        [
          {
            "node": "OS Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OS Existe?": {
      "main": [
        [
          {
            "node": "Merge para Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep para Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge para Update": {
      "main": [
        [
          {
            "node": "UPDATE OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep para Insert": {
      "main": [
        [
          {
            "node": "INSERT OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE OS": {
      "main": [
        [
          {
            "node": "Join Flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT OS": {
      "main": [
        [
          {
            "node": "Join Flows",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Join Flows": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "eb07d45e-dc61-48f6-b5f3-94c50835d247",
  "meta": {
    "instanceId": "52423c8eed14a700113dd7744ad17756f0722f80a0afb8f160f2fa37d099cb8c"
  },
  "id": "cYIrVtfY8qfkwj38",
  "tags": []
}