workflows/W2 - Tool - Buscar Cliente.json
{
  "name": "W2 - Tool - Buscar Cliente Bom Saldo",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -496,
        400
      ],
      "id": "d528853a-a9d3-4644-835b-8effe89bb5ea",
      "name": "Trigger"
    },
    {
      "parameters": {
        "jsCode": "function normalize(str) {\n  if (!str) return '';\n  return str.toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9 ]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nconst STOP = ['ltda','eireli','epp','me','sa','ss','comercio','comercial','industria','servico','servicos','grupo','brasil','do','da','de','dos','das','e'];\nfunction tokenize(str) {\n  return normalize(str).split(' ').filter(t => t.length > 2 && !STOP.includes(t));\n}\nconst rawNome = $input.first().json.nome || '';\nconst nomeNorm = normalize(rawNome);\nconst tokens = tokenize(rawNome);\nconst tokenPrincipal = tokens[0] || nomeNorm.split(' ')[0] || rawNome;\nreturn [{ json: { nome_original: rawNome, nome_normalizado: nomeNorm, tokens, token_principal: tokenPrincipal } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        400
      ],
      "id": "68135ca7-1496-430b-8831-901e23aabf23",
      "name": "Normalizar Nome"
    },
    {
      "parameters": {
        "url": "=https://bomsaldo.com/api/clientes/?nome={{ encodeURIComponent($json.nome_original) }}&ativo=1&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access-token",
              "value": "698a9f9846f8ea6d2b3a59d5cb99f4a9e32c17e8"
            },
            {
              "name": "secret-access-token",
              "value": "874ac39b56dcf8a7b87e9bdafe88f833d0155c7a"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        272
      ],
      "id": "4bea46f6-da67-482a-9a86-38fb6ab09935",
      "name": "Busca Direta"
    },
    {
      "parameters": {
        "url": "=https://bomsaldo.com/api/clientes/?nome={{ encodeURIComponent($('Normalizar Nome').item.json.token_principal) }}&ativo=1&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access-token",
              "value": "698a9f9846f8ea6d2b3a59d5cb99f4a9e32c17e8"
            },
            {
              "name": "secret-access-token",
              "value": "874ac39b56dcf8a7b87e9bdafe88f833d0155c7a"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        544
      ],
      "id": "089062e6-1506-4c47-8582-580307a34d40",
      "name": "Busca por Token"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        400
      ],
      "id": "a1b2c3d4-1111-1111-1111-000000000001",
      "name": "Aguardar Buscas"
    },
    {
      "parameters": {
        "jsCode": "// ─── Helpers ───────────────────────────────────────────────────────────────\nfunction normalize(str) {\n  if (!str) return '';\n  return str.toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9 ]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nconst STOP = ['ltda','eireli','epp','me','sa','ss','comercio','comercial','industria','servico','servicos','grupo','brasil','do','da','de','dos','das','e'];\nfunction tokenize(str) {\n  return normalize(str).split(' ').filter(t => t.length > 2 && !STOP.includes(t));\n}\n\n// ─── Dados de entrada ─────────────────────────────────────────────────────────\nconst normInput = $('Normalizar Nome').item.json;\nconst nomeNorm = normInput.nome_normalizado;\nconst tokens = normInput.tokens;\n\n// ─── Merge + Dedup dos resultados ─────────────────────────────────────────────\n// $input.all() agora tem TODOS os itens das duas buscas graças ao nó Merge\nconst seen = new Set();\nconst todos = [];\nfor (const item of $input.all()) {\n  const clientes = item.json.data || [];\n  for (const c of clientes) {\n    if (!seen.has(c.id)) { seen.add(c.id); todos.push(c); }\n  }\n}\n\n// ─── Score de semelhança ──────────────────────────────────────────────────────\nfunction score(c) {\n  const nC = normalize(c.nome||''), rC = normalize(c.razao_social||''), fC = normalize(c.nome_fantasia||'');\n  if (nC === nomeNorm || rC === nomeNorm || fC === nomeNorm) return 100;\n  let s = 0;\n  if (nC.includes(nomeNorm) || nomeNorm.includes(nC)) s += 60;\n  if (rC.includes(nomeNorm) || nomeNorm.includes(rC)) s += 55;\n  if (fC.includes(nomeNorm) || nomeNorm.includes(fC)) s += 55;\n  const tC = [...new Set([...tokenize(c.nome||''), ...tokenize(c.razao_social||''), ...tokenize(c.nome_fantasia||'')])];\n  tokens.forEach(t => {\n    if (tC.some(tc => tc.includes(t)||t.includes(tc))) s += 20;\n    if (tC.includes(t)) s += 10;\n  });\n  if (tokens[0] && tC.some(tc => tc.includes(tokens[0]))) s += 15;\n  return s;\n}\n\n// Ranquear TODOS — sem limite de top 5\nconst rankados = todos\n  .map(c => ({...c, _score: score(c)}))\n  .filter(c => c._score > 0)\n  .sort((a,b) => b._score - a._score);\n\n// ─── Not found ────────────────────────────────────────────────────────────────\nif (rankados.length === 0) {\n  return [{ json: {\n    resultado: 'Nenhum cliente encontrado para \"' + normInput.nome_original + '\". Peça mais informações.',\n    clientes: [], total_encontrado: 0, status: 'not_found'\n  }}];\n}\n\n// ─── Helper endereço ──────────────────────────────────────────────────────────\nconst addr = c => {\n  const e = c.enderecos && c.enderecos[0] && c.enderecos[0].endereco;\n  return e ? (e.logradouro + ', ' + e.numero + ' - ' + e.bairro + ' - ' + e.nome_cidade + '/' + e.estado) : '';\n};\n\n// ─── Single match: score exato 100 OU único resultado com score ≥ 60 ──────────\nif (rankados[0]._score === 100 || (rankados.length === 1 && rankados[0]._score >= 60)) {\n  const c = rankados[0], end = addr(c);\n  return [{ json: {\n    resultado: 'Achei: *' + c.nome + '*' + (c.razao_social ? ' (' + c.razao_social + ')' : '') + (end ? ' — ' + end : '') + '. Confirma?',\n    cliente_id: String(c.id),\n    cliente_nome: c.nome,\n    clientes: [{ id: c.id, nome: c.nome, razao_social: c.razao_social||'', telefone: c.telefone||c.celular||'', endereco: end }],\n    total_encontrado: 1,\n    status: 'single_match'\n  }}];\n}\n\n// ─── Multiple matches: mostra TODOS os resultados ranqueados ──────────────────\nconst fmt = (c, i) => {\n  const e = c.enderecos && c.enderecos[0] && c.enderecos[0].endereco;\n  const cidade = e ? (e.nome_cidade + '/' + e.estado) : '';\n  const tel = c.telefone || c.celular || '';\n  return (i+1) + '. ' + c.nome + (cidade ? ' — ' + cidade : '') + (tel ? ' | ' + tel : '');\n};\nconst option_map = {};\nrankados.forEach((c,i) => { option_map[String(i+1)] = { id: String(c.id), nome: c.nome }; });\n\nreturn [{ json: {\n  resultado: 'Encontrei ' + rankados.length + ' clientes com nome parecido:\\n' + rankados.map(fmt).join('\\n') + '\\n\\nQual é o correto? Responde o número.',\n  option_map: option_map,\n  clientes: rankados.map(c => ({ id: c.id, nome: c.nome, razao_social: c.razao_social||'', telefone: c.telefone||c.celular||'', endereco: addr(c) })),\n  total_encontrado: rankados.length,\n  status: 'multiple_matches'\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        400
      ],
      "id": "586ba7e3-2713-4eef-8f24-f15ea255e77d",
      "name": "Rankear e Retornar"
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Nome": {
      "main": [
        [
          {
            "node": "Busca Direta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca por Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Direta": {
      "main": [
        [
          {
            "node": "Aguardar Buscas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca por Token": {
      "main": [
        [
          {
            "node": "Aguardar Buscas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aguardar Buscas": {
      "main": [
        [
          {
            "node": "Rankear e Retornar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {}
}